<head>
    <meta name=""viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <h2>Deposit Money</h2>
        <input type="text" id="depositor" placeholder="Depositor Address">
        <input type="number" id="amount" placeholder="Amount">
        <button class="btn" onclick="deposit()">Deposit Money</button>
        <button class="btn" onclick="view_transaction()">View Transaction</button>
        <form action="/main" method="post">
            <input type="submit" value="Main">
        </form>
        <p id="view_depositor"></p>
        <p id="view_amount"></p>
        <script src ="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
        <script>
            const contractAddress = "0x688724db6a04ab7aad842498cfe4e5de7c23ebdf";
            const contractABI = [
            {
                "inputs": [
                    {
                        "internalType": "address",
                        "name": "customer_input",
                        "type": "address"
                    },
                    {
                        "internalType": "uint256",
                        "name": "amount_input",
                        "type": "uint256"
                    }
                ],
                "name": "deposit_money",
                "outputs": [],
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "inputs": [],
                "name": "deposit_view",
                "outputs": [
                    {
                        "internalType": "address",
                        "name": "",
                        "type": "address"
                    },
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            }];

            const web3 = new Web3(Web3.givenProvider);
            const contract = new web3.eth.Contract(contractABI,contractAddress);

            async function deposit() {
                const accounts = await web3.eth.requestAccounts();
                console.log(accounts[0]);
                const depositor = document.getElementById("depositor").value;
                const amount = document.getElementById("amount").value;
                console.log(depositor,amount)

                await contract.methods.deposit_money(depositor,amount).send({from:accounts[0]});
            }

            async function view_transaction() {
                result = await contract.methods.deposit_view().call();
                console.log(result[0],result[1]);
                document.getElementById("view_depositor").innerText = "Payer is " + result[0];
                document.getElementById("view_amount").innerText = "Amount is " + result[1];
            }
        </script>
    </div>
</body>