<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h2>Main</h2>
        <form action="/transferMoney" method="post">
            <input type="submit" value="Transfer Money">
        </form>
        <form action="/depositMoney" method="post">
            <input type="submit" value="Deposit Money">
        </form>
        <form action="/" method="post">
            <input type="submit" value="Exit">
        </form>
    </div>
</body>
