<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h2>Transfer Money</h2>
        <input type="text" id="payer" placeholder="Enter Payer Address">
        <input type="text" id="payee" placeholder="Enter Payee Address">
        <input type="text" id="amount" placeholder="Enter Payer Amount">
        <button class="btn" onclick="transfer()">Transfer</button>
        <button class="btn" onclick="transaction()">View Transaction</button>
        <form action="/main" method="post">
            <input type="submit" value="Main">
        </form>
        <p id="view_payer"></p>
        <p id="view_payee"></p>
        <p id="view_amount"></p>

        <script src="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
        <script>
            const contractAddress = "0x6d0819abfab1fd0b05d992b9b80866bf957bd172";
            const contractABI = [
            {
                "inputs": [],
                "name": "checkTransaction",
                "outputs": [
                    {
                        "internalType": "address",
                        "name": "",
                        "type": "address"
                    },
                    {
                        "internalType": "address",
                        "name": "",
                        "type": "address"
                    },
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "address",
                        "name": "_payer",
                        "type": "address"
                    },
                    {
                        "internalType": "address",
                        "name": "_payee",
                        "type": "address"
                    },
                    {
                        "internalType": "uint256",
                        "name": "_amount",
                        "type": "uint256"
                    }
                ],
                "name": "weixin",
                "outputs": [],
                "stateMutability": "payable",
                "type": "function"
            }];
            
            const web3 = new Web3(Web3.givenProvider);
            const contract = new web3.eth.Contract(contractABI, contractAddress);

            async function transfer() {
                const accounts = await web3.eth.requestAccounts();
                const payer = document.getElementById('payer').value;
                const payee = document.getElementById('payee').value;
                const amount = document.getElementById('amount').value;
                console.log(payer,payee,amount);
                
                await contract.methods.weixin(payer, payee,amount).send({ from: accounts[0]});
            }

            async function transaction() {
                const result = await contract.methods.checkTransaction().call();
                document.getElementById('view_payer').innerText = "Payer is " + result[0];
                document.getElementById('view_payee').innerText = "Payee is " + result[1];
                document.getElementById('view_amount').innerText = "Amount is " + result[2];
            }
        </script>
    </div>
</body>
